.App {
  text-align: center;
  min-height: 100vh;
  padding-top: 10em;
}

.App-logo {
  height: 80px;
  vertical-align: middle;
  margin: 0 1em .5em 0;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: white;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.App-link {
  color: #61dafb;
}

.FileList td {
  white-space: nowrap;
  min-height: 2em;
  vertical-align: middle;
}

.FileList td img {
  max-height: 4em;
}
