.App {
  text-align: center;
  min-height: 100vh;
  padding-top: 10em;
  max-width: 640px;
  margin: 0 auto;
}

.App-logo {
  height: 80px;
  vertical-align: middle;
  margin: 0 1em .5em 0;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: white;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  box-shadow: 0 6px 12px 0 rgba(0,0,0,.2);
}

.App-link {
  color: #61dafb;
}

.FileActions {
    position: absolute;
    bottom: -10px;
}

.FileList .thumbnail {
    max-height: 48px;
    margin-top: 2px;
}

.FileList a {
    text-decoration: none;
    color: inherit;
}

.FileList .Preview {
  margin-right: 1em;
}

.image-large .image-large {
  max-height: 300px;
  max-width: 300px;
}
