.App {
  text-align: center;
  min-height: 100vh;
  padding-top: 10em;
  padding-bottom: 2em;
  max-width: 640px;
  margin: 0 auto;
}

.App-logo {
  height: 80px;
  vertical-align: middle;
  margin: 0 1em 0.5em 0;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: white;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
}

.App-link {
  color: #61dafb;
}

.FileActions {
  position: absolute;
  bottom: -10px;
}

.FileList .thumbnail {
  max-height: 48px;
  margin-top: 2px;
}

.FileList .Preview {
  margin-right: 1em;
  overflow: hidden;
  max-width: 200px;
}

.image-large .image-large {
  max-height: 300px;
  max-width: 300px;
}

.ExternalLink {
  vertical-align: middle;
  display: none;
  height: 18px;
  width: 18px;
  position: relative;
  margin-top: -1px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.14);
}

.ExternalLink:hover {
  color: rgba(0, 0, 0, 0.84);
}

.FileListItem:hover .ExternalLink {
  display: inline-block;
}

.ExternalLink svg {
  height: 18px;
  width: 18px;
}

.DateFilter {
  position: fixed;
  top: 11em;
  right: 50%;
  margin-right: 20em;
}

.DateFilter label {
  color: #fff;
}

.DateFilter input {
  color: #fff;
}

.AudioPlayer .PlayControl .TransportButton {
  height: 36px;
  width: 36px;
  cursor: pointer;
}

.PlayPercentage {
  position: absolute;
  top: -3px;
  left: -3px;
  width: 42px;
  height: 42px;
  text-align: center;
  border-radius: 100%;
  z-index: -1;
}

.PlayPercentageValue {
  stroke-dasharray: 0, 100;
  stroke: #ff6700;
  stroke-dashoffset: 0;
  fill: transparent;
  transition: all 0.25s ease 0s;
  stroke-width: 6px;
  transform: rotate(-90deg);
  transform-origin: center;
}
